.slip, .slide {
  width: calc(var(--page-width) - 2px);
  transform-origin: top left;
  /* Borders make margin of inner elements not leak outside */
  border: 1px solid transparent;
}

.slide {
  height: calc(var(--page-height) - 2px);
  width: calc(var(--page-width) - 2px);
}

.slipshow-rescaler {
  overflow-x: hidden;
  overflow-y: hidden;
  /* Whether or not to hide what's outside of rescalers is not clear. I decided to
   hide to avoid having the shadow of the title leak outside. */
  width: unset;
  height: unset;
  min-width: 0;
}
