.slip, .slide, .h-slip {
  transform-origin: top left;
  /* Borders make margin of inner elements not leak outside */
  border: 1px solid transparent;
}

.slip {
  width: calc(var(--page-width) - 2px);
}

.h-slip {
  height: calc(var(--page-height) - 2px);
}

.h-slip > * {
  width: calc((var(--page-width) - 2px) / 2);
  height: calc(var(--page-height) - 2px);
}

.slide {
  height: calc(var(--page-height) - 2px);
  width: calc(var(--page-width) - 2px);
}

.slipshow-rescaler {
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  /* Whether or not to hide what's outside of rescalers is not clear. */
  width: unset;
  height: unset;
  min-width: 0;
}
