.slipshow-toc-mode #slipshow-toc {
  display: block;
}

#slipshow-toc {
  overflow: auto;
  opacity: 0.98;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 25%;
  max-width: 30%;
  padding: 30px;
  background: rosybrown;
  display: none;
  z-index: 100;
}

.slipshow-toc-step {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  padding-bottom: 0px;
  margin: 5px;
  margin-left: 0;
  margin-right: 10px;
}

.slipshow-toc-only-step {
  display: inline-block;
}

.slipshow-toc-entry {
  cursor: pointer;
}

.slipshow-toc-current-step .slipshow-toc-step {
  background-color: red;
}
