html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}
/* Classes for transitions */
.invisible {
    visibility: hidden;
}

.movable {
    transform-origin: 0 0;
    transition-property: left, top ;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
    /* will-change: transform; */
}
.scale-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* will-change: transform; */
}
.rotate-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* will-change: transform; */
}
.slide-scale-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;    
    /* will-change: transform; */
}
.slide-rotate-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* will-change: transform; */
    /* display: flex; */
    /* flex-flow: column; */
}
.slide-container {
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    display: flex;
    flex-flow: column;
}
#universe {
    position: absolute;
    /* width: 100000px; */
    /* height: 100000px; */
    top: 0;
    left: 0;
    /* transition: left 1s; */
    /* transition: top 1s; */
    /* overflow: hidden; */
}
.fog {
    position:absolute;
    background-color: white;
    z-index: -10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#open-window {
    position:fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
}

.slide {
    pointer-event:none;
    /* background: linear-gradient(to right, yellow, green); */
    font: 1.8em "Fira Sans", sans-serif;
    /* font-size: 1.8em; */
    box-sizing: border-box;
    padding:60px;
    /* padding-top: 80px; */
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 1440px;
    height: 1080px;
}
.slide .titre {
    flex: 0 1 auto;
    -webkit-box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.42); 
    box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.42);
    font: 1.8em "Fira Sans", sans-serif;
    background: linear-gradient(to right, #004dc9, #001e63);
    /* margin-left: -60px; */
    /* margin-right: -60px; */
    /* margin-top: -60px; */
    margin-bottom: 20px;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    color: white;
    /* text-align: center; */
    padding: 10px;
    padding-left:60px;
}
.slide .slide-body-container {
    /* width:100%; */
    /* height:100; */
    /* flex: 1 1 auto; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 110px;
    margin-right: 110px;
}
.format-container {
    transform-origin: 0 0;
    
}
.slide .emphasize {
    /* text-decoration: underline; */
    /* color:red; */
    background-color: yellow;
}

/* Rules that are specific of some slides */

/* Titre */

.main-title {
    /* font-family: 'Raleway',sans-serif; */
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    /* margin: 0 0 24px; */
    /* text-align: center; */
}



/* Hindman Itself */

/* #hindman-itself { */
/*     top: 0px; */
/*     left:0px; */
/* } */
/* #hindman-itself .number-container { */
/*     position: absolute; */
/*     left: 50px; */
/*     top: 50px; */
/* } */

/* #hindman-itself .number-container .number { */
/*     transition: all 1s; */
/* } */

/* Hindman Itself 2 */

#hindman-itself-2 {
    /* transform: rotate(180deg); */
}

/* #hindman-itself-2 .number-container { */
/*     position: absolute; */
/*     left: 50px; */
/*     top: 50px; */
/* } */


/* Définissabilité */
/* #definissabilite { */
/*     top: 3000px; */
/*     left:3000px; */
/* } */

#cles .math {
    position: absolute;
    visibility:hidden;
}
#cles .math.one {
    top:800px;
}
#cles .math.algo {
    left:25%
}
#cles .math.def {
    left:70%
}
#cles .math.two {
    top:940px;
}

.slide.no-flex .slide-container {
    display: block;
}




#calcul .put-canal {
    background:lightyellow;
    width:100px;
    height:56px;
    border-top:	1px solid black;
    border-bottom: 1px solid black;
    z-index:0
}

#calcul .input-canal {
    margin-right:-1px;
}
#calcul .output-canal {
    margin-left:-1px;
}

#calcul .put {
    position:absolute; 
}
#calcul .input  {
    left: 10%;
}
#calcul .input.putted  {
    left: 34%;
}
#calcul .output  {
    left: 62%;
    opacity: 0;
    transition: opacity 1s, left 1s;
}
#calcul .output2  {
    left: 62%;
    opacity: 0;
}
#calcul .output.putted, #calcul .output2.putted {
    left: 85%;
    opacity: 1;
    /* opacity: 1; */
}

#calcul #canvas-tm1 {
    /* opacity:0; */
    /* transition: opacity 1s ease 1s; */
}
#calcul .canvases {
    position:absolute;
}

#calcul .label {
    position: absolute;
    left: 65%;
    top: 10px;
    font-size: 1.1em;
    opacity: 0;
}

/* #cles .container { */
/*       display:flex; */
/*     justify-content:space-between; */
/*     flex-wrap:wrap;/\* so they do not overlap each other if space too short *\/ */
/* } */
/* #cles .container span:first-of-type:after, #cles .container span:last-of-type:before { */
/*     content:''; */
/*     display:inline-block;/\* enough , no width needed , it will still generate a space between *\/ */
/* } */
#cles .concontainer > * {
    display: inline-block;
}
#cles .concontainer .after {
    grid-column: 3/3;
    text-align: left;
    /* width: 300px; */
}
#cles .concontainer .arrow {
    /* width: 113px; */
    text-align: center;
    grid-column: 2/2;
    text-align: center;
}
#cles .concontainer .before {
    grid-column: 1/1;
    text-align: right
}
#cles .concontainer .haut {
    grid-row: 1/1;
}
#cles .concontainer .milieu {
    grid-row: 2/2;
}
#cles .concontainer .bas {
    grid-row: 3/3;
}
#cles .concontainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    text-align: center;
    margin-top: 10px;
}
#cles .concontainer {
    text-align: left;
    padding:3px;
    padding-top:10px;
}

#ittms-def .lambda {
    color: red;
}
#ittms-def .zeta {
    color: blue;
}
#ittms-def .Sigma {
    color: green;
}


#hindman-proof .number-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px; 
}
#hindman-proof .number-container .number {
    width: 100px;
    text-align: center;
}
#hindman-proof .number-container .number.removed {
    background-color: black;
    opacity: 0.3;
    /* color:black !important */
}
#hindman-proof .number-container .number.selected {
    background-color: yellowgreen;
}
#hindman-proof .number-container .number.selected2 {
    background-color: #AF8B65;
}
#hindman-proof .number-container .number.candidate {
    background-color: pink;
}

#hindman-proof .clone {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#hindman-proof .clone .number {
    position: relative;
    transition: left 1s, top 1s, right 1s;
    top: 0;
    right: 0;
    left: 0;
}
#hindman-proof .clone .number.left {
    top:400px;
    left:-55%;
}
#hindman-proof .clone .number.right {
    top:400px;
    left:55%;
}
#hindman-proof .barre {
    text-decoration: line-through;
}
#hindman-proof .fm-def {
    margin-top: 410px;
}
#reverse-math-intro .column .cell.header {
    font-size: 1.2em;
    font-weight: bold;
}
#reverse-math-intro .column .cell {
    height: 50px;
    text-align: center;
    padding: 10px;
}
#reverse-math-intro .table-container {
    margin-top: 20px;
}

#weihrauch-intro .box-sol div {
    text-align: center;
    flex-grow: 1;
    display: block;
}
#weihrauch-intro .box-sol {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    width:300px;
    height:100px;
    text-align: center;
    border-radius: 5px;
    background-color: pink;
    border: 1px solid black;
}

#weihrauch-intro .sol-P {
    padding-top: 10px;
    align-items: baseline;
}
#weihrauch-intro .link {
    position: absolute;
    border: 2px solid black;
    height: 0;
}
#weihrauch-intro .weihrauch-container {
    position: relative;
    height: 400px;
}
#weihrauch-intro .link-curved {
    width: 70%;
    height: 125px;
    border: 4px solid black;
    border-top: 0px solid black
}







#randomness-intro .js-random, #randomness-intro .all-zeros {
    display: flex;
    align-items: center;
}
#randomness-intro .coin-container {
    display: flex;
    justify-content: space-between;
}
#randomness-intro .coin {
  /* position: relative; */
  /* margin: 0 auto; */
    width: 50px;
    margin: 10px;
  height: 50px;
  display:inline;
  transform: rotateY(90deg);
  /* cursor: pointer; */
}
#randomness-intro .coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
     -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
          box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
}
#randomness-intro .side-a {
  background-color: #bb0000;
}
#randomness-intro .side-b {
  background-color: #0000bb;
}

#randomness-intro .coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
#randomness-intro .coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
#randomness-intro .side-a {
  z-index: 100;
}
#randomness-intro .side-b {
  -webkit-transform: rotateY(-180deg);

}

#randomness-intro .coin.heads {
  -webkit-animation: flipHeads 0.75s ease-out forwards;
     -moz-animation: flipHeads 0.75s ease-out forwards;
       -o-animation: flipHeads 0.75s ease-out forwards;
          animation: flipHeads 0.75s ease-out forwards;
}
#randomness-intro .coin.tails {
  -webkit-animation: flipTails 0.75s ease-out forwards;
     -moz-animation: flipTails 0.75s ease-out forwards;
       -o-animation: flipTails 0.75s ease-out forwards;
          animation: flipTails 0.75s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from { -webkit-transform: rotateY(90deg); -moz-transform: rotateY(90deg); transform: rotateY(90deg); }
  to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}
@-webkit-keyframes flipTails {
  from { -webkit-transform: rotateY(270deg); -moz-transform: rotateY(270deg); transform: rotateY(270deg); }
  to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}

#randomness-intro .equal-container > div {
    display:none;
}
#randomness-intro .equal-container.proba-0 > div.proba-0 {
    display:block;
}
#randomness-intro .equal-container.proba-1 > div.proba-1 {
    display:block;
}
#randomness-intro .equal-container.proba-2 > div.proba-2 {
    display:block;
}
#randomness-intro .equal-container.proba-3 > div.proba-3 {
    display:block;
}
#randomness-intro .equal-container.proba-4 > div.proba-4 {
    display:block;
}
#randomness-intro .equal-container.proba-5 > div.proba-5 {
    display:block;
}
#randomness-intro .equal-container.proba-6 > div.proba-6 {
    display:block;
}
#randomness-intro .equal-container.proba-7 > div.proba-7 {
    display:block;
}
#randomness-intro .equal-container.proba-8 > div.proba-8 {
    display:block;
}
#randomness-intro .equal-container.proba-9 > div.proba-9 {
    display:block;
}
#randomness-intro .equal-container.proba-10 > div.proba-10 {
    display:block;
}
#randomness-intro .equal-container.proba-11 > div.proba-11 {
    display:block;
}
#randomness-intro .equal-container.proba-12 > div.proba-12 {
    display:block;
}
#randomness-intro .equal-container.proba-13 > div.proba-13 {
    display:block;
}
#randomness-intro .equal-container.proba-14 > div.proba-14 {
    display:block;
}
#randomness-intro .discriminante, #randomness-ittm .discriminante {
    color: red;
}
#randomness-intro .simple, #randomness-ittm .simple  {
    color: blue;
}
#randomness-intro .objet {
    color: green;
}
h1 {
    text-align: center;
}
.cpt-slip {
    position:fixed;
    bottom: 0;
    background-color: white;
    padding:5px;
}
#titre {
    width:100%;
}
#thanks {
    transition: top 4s;
    background-color:white;
    position:relative;
    font-size:800px;
    /* top:6790px; */
    top: 8000px;
    left: 379px;
    z-index: 100000;
    width: 10000px;
    padding: 255px;
    padding-left:0;
    background-color:rgb(255,255,255, 0.8);
}
#thanks.placed {
    top: 3500px;
}
    #infinite {
    transform:scale(30);
    z-index:100;
    position: absolute;
    top:-360px;
    left:2900px;
}
#RMChapter {
    transform:rotate(180deg) scale(22);
    z-index:100;
    position: absolute;
    top:-360px;
    left:8000px;
}
#randomnessChapter {
    transform:scale(15);
    z-index:100;
    position: absolute;
    top:-360px;
    left:5000px;
}


#weihrauch-intro .custom-canvas {
    width:100%;
    position: relative;
    height:800px;
}
#weihrauch-intro .custom-canvas .point {
    transform-origin: 0 0;
    z-index:10;
    transition-property: left, top ;
    transition-duration: 3s, 3s;
    transition-timing-function: ease, ease;
    display:inline-block;
    width: 0;
    height: 0;
    border: 15px solid black;
    border-radius: 15px;
    position: absolute;
}

#weihrauch-intro .custom-canvas .line {
    display:inline-block;
    transform-origin: 0 3px;
    width: 200px;
    height: 0;
    border: 3px solid black;
    position: absolute;
}

#weihrauch-intro .custom-canvas .ai {
    position: absolute;
    font-size: 40px;
    left:50%;
    visibility: hidden;
}
#weihrauch-intro .custom-canvas .ppp {
    position: absolute;
    font-size: 40px;
    top:400px;
    visibility: hidden;
}
#weihrauch-intro .custom-canvas .enumeration {
    position: absolute;
    top: 600px;
    left: 0;
    visibility: hidden;
}
#weihrauch-intro .custom-canvas .aj {
    position: absolute;
    font-size: 40px;
    top:35px;
    left:0;
}
#fo {
    position:absolute;
    transform:scale(14);
    transform-origin: 0 0;
    z-index:10;
    background-color:rgb(255,255,255, 0.8);
    top: 9000px;
    transition: top 4s;
}
#fo.placed {
    top:5500px;
}
