html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}
/* Classes for transitions */
.invisible {
    visibility: hidden;
}

.movable {
    transform-origin: 0 0;
    transition-property: left, top ;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
    /* will-change: transform; */
}
.scale-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* will-change: transform; */
}
.rotate-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* will-change: transform; */
}
.slip-scale-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;    
    /* will-change: transform; */
}
.slip-rotate-container {
    transform-origin: 0 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* will-change: transform; */
    /* display: flex; */
    /* flex-flow: column; */
}
.slip-container {
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    display: flex;
    flex-flow: column;
}
#universe {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap
}
.fog {
    position:absolute;
    background-color: white;
    z-index: -10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#open-window {
    position:fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
}

.slip {
    pointer-event:none;
    font: 1.8em "Fira Sans", sans-serif;
    box-sizing: border-box;
    padding:60px;
    /* position: absolute; */
    display: flex;
    flex-flow: column;
    width: 1440px;
    height: 1080px;
}
.slip .titre {
    flex: 0 1 auto;
    -webkit-box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.42); 
    box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.42);
    font: 1.8em "Fira Sans", sans-serif;
    background: linear-gradient(to right, #004dc9, #001e63);
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    padding-left:60px;
}
.slip .slip-body-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 110px;
    margin-right: 110px;
}
.format-container {
    transform-origin: 0 0;
    
}
.slip .emphasize {
    background-color: yellow;
}

.main-title {
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
}

.slip.no-flex .slip-container {
    display: block;
}
h1 {
    text-align: center;
}
.cpt-slip {
    position:fixed;
    bottom: 0;
    background-color: white;
    padding:5px;
}
