#warnings-slipshow-show {
  font-size: 3em;
  border: 2px solid black;
  padding: 10px;
  border-radius: 1000px;
  background: white;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
}
#warnings-slipshow.hide-warnings {
  display: none;
}
#warnings-slipshow {
  font-family: monospace;
  position: absolute;
  inset: 0;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 2;
  white-space: pre;
  margin: 0;
  padding: 20px;
  overflow: scroll;
}
#warnings-slipshow:empty {
  display: none;
}
#warnings-slipshow:empty + #warnings-slipshow-show {
  display: none;
}
