#warnings-slipshow-show {
  font-size: 3em;
  border: 2px solid black;
  padding: 10px;
  border-radius: 1000px;
  background: white;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 20px;
}
#warnings-slipshow.hide-warnings {
  display: none;
}
#warnings-slipshow {
  font-family: monospace;
  position: absolute;
  inset: 0;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 2;
  white-space: pre;
  margin: 0;
  padding: 20px;
  overflow: scroll;
}
#warnings-slipshow:empty {
  display: none;
}
#warnings-slipshow:empty + #warnings-slipshow-show {
  display: none;
}
#connection-slipshow {
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
#connection-slipshow:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
}
#connection-slipshow.connected:before {
  background: lawngreen;
}
#connection-slipshow.connected:hover {
  background: black;
}
#connection-slipshow.connected:hover:after {
  content: "Connected to the slipshow server";
  color: lawngreen;
}
#connection-slipshow.disconnected:before {
  background: red;
}
#connection-slipshow.disconnected:hover:after {
  content: "Disconnected from the slipshow server";
  color: red;
}
#connection-slipshow.disconnected:hover {
  background: beige;
}
