#open-window {
  position: fixed;
  overflow: hidden;
  background-color: white;
}

html,
body {
  background-color: black;
}

.slip {
    width:1440px;
    transform-origin: top left;
    /* Borders make margin of inner elements not leak outside */
    border: 0.1px solid transparent;
}

.slip-rescaler {
    overflow-x: hidden;
    overflow-y: hidden;
    width:unset;
    height: unset;
}

#universe {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap
}
