body {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}

#slipshow-main {
  position: relative;
  flex-grow: 1;
}

#slipshow-open-window {
  position: absolute;
  overflow: hidden;
  background-color: white;
}

.slipshow-format-container {
  transform-origin: top left;
}
