#slip-touch-controls {
  display: none;
}

.mobile #slip-touch-controls {
  display: unset;
}

.mobile.slipshow-toc-mode.horizontal #slip-touch-controls,
.mobile.slipshow-toc-mode.vertical #slip-touch-controls {
  display: none;
}

.mobile.horizontal #slip-touch-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 10vw;
  justify-content: space-evenly;
}

.mobile.horizontal #slip-touch-controls > div {
  width: 10vw;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  font-size: 10vw;
  text-align: center;
  vertical-align: middle;
  line-height: 10vw;
}

.mobile.vertical #slip-touch-controls {
  position: fixed;
  right: 0;
  width: 10vh;
  display: flex;
  height: 80vh;
  justify-content: space-evenly;
  flex-direction: column;
}

.mobile.vertical #slip-touch-controls > div {
  width: 10vh;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  font-size: 10vh;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
}


body.slipshow-drawing-mode {
  touch-action: pinch-zoom;
}

#slipshow-vertical-flex {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
#slipshow-horizontal-flex {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  overflow: hidden;
}

#slipshow-content {
  border: 1px solid transparent;
}

/* See drawing/event.ml and drawing_editor/editor_tools.ml if you modify.

   Adds padding so that you can draw on the side of your content */
#slipshow-universe {
  padding: 2000px;
  min-width: var(--page-width);
  min-height: var(--page-height);
}

.slipshow-blink {
  animation: blink 2s step-start 0s infinite;
}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
