.slip-body, .slide-body {
  /* padding:60px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 110px;
  margin-right: 110px;
}

.slide {
  display: flex;
  flex-direction: column;
}

.slide-title {
    flex: 0 1 auto;
    -webkit-box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.42); 
    box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.42);
    font: 1.8em "Fira Sans", sans-serif;
    background: linear-gradient(to right, #004dc9, #001e63);
    /* Negative margin to consider the 1px margin of slides rescaler content */
    margin-left: -1px;
    margin-top: -1px;
    color: white;
    padding: 10px;
    padding-left:60px;
    /* Minus the left and right padding and left margin */
    width: calc(var(--page-width) - 60px - 10px + 1px);
}

.slide-body {
    /* flex-grow: 1; */
    /* padding-top: 100px; */
}

.slide-body > h1:first-child:not(#slipshow-toc h1) {
  position: absolute;
  top: -2px;
  left: -2px;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 60px;
  color: white;
  right: -2px;
  text-align: left;
  box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.42);
  background: linear-gradient(to right, #004dc9, #001e63);
  font: 51.84px "Fira Sans", sans-serif;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

body {
  font:
    30px "Fira Sans",
    sans-serif;
}

h1:not(#slipshow-toc h1) {
  text-align: center;
}

/*************************************/
/*    Blocks                         */
/*************************************/

.block,
.theorem,
.lemma,
.definition,
.example,
.my-theorem,
.corollary,
.remark {
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.42);
  background-color: white;
}
.block:before,
.theorem:before,
.lemma:before,
.definition:before,
.example:before,
.my-theorem:before,
.corollary:before,
.remark:before {
  font-weight: bold;
  display: block;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 5px 5px 0 0;
  margin-right: -30px;
  margin-bottom: 15px;
  padding: 6px;
  padding-left: 30px;
  color: white;
  font-style: normal;
}
.block[title]:before {
  content: "" attr(title) "";
  background-color: darkgrey;
}

/*************************************/
/*    Theorems                       */
/*************************************/

.theorem {
  font-style: italic;
  background-color: lightpink;
  border: 1px solid darkred;
}
.theorem:before {
  text-align: left;
  content: "Theorem";
  background-color: darkred;
}
.theorem[title]:before {
  content: "Theorem (" attr(title) ") ";
}

/*************************************/
/*    Theorems                       */
/*************************************/

.my-theorem {
  font-style: italic;
  background-color: lightgoldenrodyellow;
  border: 1px solid darkgoldenrod;
}
.my-theorem:before {
  text-align: left;
  content: "Theorem";
  background-color: darkgoldenrod;
}
.my-theorem[title]:before {
  content: "Theorem (" attr(title) ") ";
}

/*************************************/
/*    Lemmas                         */
/*************************************/

.lemma {
  font-style: italic;
  background-color: lightgray;
  border: 1px solid darkgray;
}
.lemma:before {
  content: "Lemma";
  background-color: darkgray;
}
.lemma[title]:before {
  content: "Lemma (" attr(title) ") ";
}

/*************************************/
/*    Proof                          */
/*************************************/

.proof {
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.proof:before {
  content: "Proof.";
  font-style: italic;
  margin-right: 1ch;
}
.proof:after {
  content: "\25FC";
  float: right;
}

/*************************************/
/*    Definitions                    */
/*************************************/

.definition {
  font-style: normal;
  background-color: lightblue;
  border: 1px solid darkblue;
}
.definition:before {
  content: "Definition.";
  background-color: darkblue;
}
.definition[title]:before {
  content: "Definition (" attr(title) ") ";
}

/*************************************/
/*    Examples                       */
/*************************************/

.example {
  font-style: normal;
  background-color: lightgreen;
  border: 1px solid darkgreen;
}
.example:before {
  content: "Example.";
  background-color: darkgreen;
}
.example[title]:before {
  content: "Example (" attr(title) ") ";
}

/*************************************/
/*    Remark                         */
/*************************************/

.remark {
  font-style: normal;
  background-color: lightgreen;
  border: 1px solid darkgreen;
}
.remark:before {
  content: "Remark.";
  background-color: darkgreen;
}
.remark[title]:before {
  content: "Remark (" attr(title) ") ";
}

/*************************************/
/*    Corollary                      */
/*************************************/

.corollary {
  font-style: normal;
  background-color: lightyellow;
  border: 1px solid #cccc00;
}
.corollary:before {
  content: "Corollary.";
  background-color: #cccc00;
}
.corollary[title]:before {
  content: "Corollary (" attr(title) ") ";
}
