#slipshow-drawing-editor {
  overflow: auto;
  opacity: 0.98;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px;
  background: rosybrown;
  z-index: 100;
}
.slipshow-dont-display {
  display: none;
}
.slipshow-drawing-editor-display {
  stroke: darkorange;
}
#slipshow-time-slider {
  width: 100%;
}
