.pauseAncestor ~ *, .pauseTarget {
  opacity: 0;
  pointer-events: none;
}

.unstatic {
  position: absolute;
  visibility: hidden;
}

.unrevealed {
  opacity: 0;
  pointer-events: none;
}

#slipshow-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 5px;
  font-size: 2em;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.slipshow__carousel {
    display: grid;
}
.slipshow__carousel > .slipshow__carousel_children {
    grid-area: 1 / 1;

}
.slipshow__carousel > .slipshow__carousel_children:not(.slipshow__carousel_active) {
  visibility: hidden;
}
.slipshow__carousel:not(.carousel-fixed-size) > .slipshow__carousel_children:not(.slipshow__carousel_active) {
  position: absolute;
}

.slipshow__carousel > .slipshow__carousel_children.slipshow__carousel_active ~ .slipshow__carousel_children {
  visibility: hidden;
}
.slipshow__carousel:not(.carousel-fixed-size) > .slipshow__carousel_children.slipshow__carousel_active ~ .slipshow__carousel_children {
  position: absolute;
}
[slipshow-pdf] {
  display:inline-block;
}

[slipshow-pdf] canvas {
  display: block;
  width: 100%;
}

.__slipshow__speaker_note {
    display: none;
}
