.pauseAncestor ~ *, .pauseTarget {
  opacity: 0;
}

.unstatic {
  position: absolute;
  visibility: hidden;
}

.unrevealed {
  opacity: 0;
}

#slipshow-counter {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 5px;
  font-size: 2em;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.slipshow__carousel > .slipshow__carousel_children:not(.slipshow__carousel_active) {
  position: absolute;
  visibility: hidden;
}

[slipshow-pdf] {
  display:inline-block;
}

[slipshow-pdf] canvas {
  display: block;
  width: 100%;
}

.__slipshow__speaker_note {
    display: none;
}
