.slip, .slide {
  width: 1438px;
  padding: -1px;
  transform-origin: top left;
  /* Borders make margin of inner elements not leak outside */
  border: 1px solid transparent;
}

.slide {
  height: 1078px;
}

.slipshow-rescaler {
  overflow-x: hidden;
  overflow-y: hidden;
  width: unset;
  height: unset;
}
